 body {
    background-color:mediumaquamarine;
}
 
 main {
     width: 60%;
     margin: 0 auto;
 }

h1 {
    display: flex;
    width: 20%;

}

ul {
    position: center;
    height: 75px;
}

audio {
    margin: auto;
}

.nav-vid {
    position: fixed;
}

 video {
     width: 120 0000%;
     height: 1200000%;
     display: flex;
 }

 nav {
    width: 150em;
    color: blue;    
 }

 p {
    color: blue;
 }

 p1 {
     color: red;
 }