 body {
    background-color:mediumaquamarine;
}

main {
    max-width: 500px;
    margin: auto;
    width: 100%;
}

.aside {
    box-sizing: border-box;
    float: left;
}

.aside1 {
    box-sizing: border-box;
    float: right;
}

ul {
    max-width: 500px;
    margin: auto;
    height: 100px;

}

video {
    display: flex;
    max-width: 500px;
}